{% block title %} Used Car Loan {% endblock
    title %} {% block description %} Used Car Loan {% endblock description %} {% block
    head %}
    <script
      type="text/javascript"
      src="/assets/frappe/js/lib/jquery/jquery.min.js"
    ></script>
    <style>
      .proBox {
        padding: 100px 0;
        padding-top: 50px;
        padding-right: 0px;
        padding-bottom: 50px;
        padding-left: 0px;
      }
    
      .dynamic-content {
        display: none;
      }
    
      .loader {
        border: 5px solid #fff;
        border-radius: 50%;
        border-top: 5px solid #3498db;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 1.5s linear infinite;
        margin-top: 85px;
        margin-bottom: 85px;
        margin-left: auto;
        margin-right: auto;
      }
    
      /* Safari */
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
    
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
    
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
    
        100% {
          transform: rotate(360deg);
        }
      }
    
      @media screen and (max-width: 1366px) {
        .everify {
          margin-top: 50px;
        }
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function () {
        // $("#spinner-div").show()
        $("#email-verify-content").hide();
        const urlParams = new URLSearchParams(location.search);
        const success = urlParams.get("success");
        if (urlParams.has("success")) {
          $("#email-verify-content").show();
          $(".loader").hide();
          $("#success").show();
        } else if (urlParams.has("already-verified")) {
          $("#email-verify-content").show();
          $(".loader").hide();
          $("#already-verified").show();
        } else {
          $("#email-verify-content").show();
          $(".loader").hide();
          $("#fail").show();
        }
      });
    </script>
    {% endblock head %} {% block body %}
    <section class="fw"></section>
    <section class="fw landing content-privacy everify">
      <section class="fw">
        <div class="container pr">
          <div class="loader"></div>
          <div class="addStock dynamic-content" id="email-verify-content">
            <div class="row dx_jcsbalctr">
              <div class="col-6 col-md-6">
                <h3>Email Verification</h3>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6 mt-5">
                <div class="fw text-left">
                  <div id="fail" class="dynamic-content">
                    <p>
                      Oops,<br />Something went wrong, please contact Administrator.
                    </p>
                  </div>
                  <div id="success" class="dynamic-content">
                    <p>
                      Hello,<br />Thank you, your email has been verified.
                    </p>
                  </div>
                  <div id="already-verified" class="dynamic-content">
                    <p>Hello,<br />Your email verification is already done.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="row">
          <br />
        </div>
      </div>
    </section>
    {% endblock %}
    